
<script type="text/javascript">
    var i = 0;
    function addRow()
    {
        debugger
        var row = $("<div id='chldiv"+i+"'><div class='SmallSettingContainer'>"+
                        "<input type='text' name='CCDefaults' id='CCDefaults"+i+"' placeholder='CC Default' class='SettingsBox inputRightRank23 MerchantSettings'"+
                               "data-keyname='/Email/FormCompletion/Defaults' />"+
                    "</div><div class='SmallSettingContainer' style='float:right;'><input type='text' name='BCCDefaults' id='BCCDefaults" + i + "' placeholder='BCC Default' class='SettingsBox inputRightRank23 MerchantSettings' data-keyname='/Email/FormCompletion/Defaults' /><input type='button' value='Remove' id='" + i + "' onclick='removeRow(this)'></div></div>")
        $('#div1').append(row);
        i++;
    }
    function removeRow(e)
    {
        debugger
        var id = e.id;
        $('#chldiv' + id).remove()
        //$('#CCDefaults' + id).remove();
        //$('#BCCDefaults' + id).remove();

    }
    function copyToClipboard(element) {
        debugger
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).val()).select();
        document.execCommand("copy"); $("#messageBox").text("Path Successfully Copied!").show().fadeOut(3000);
        element.clearSelection();
        $temp.remove();
    }
</script>
<!-- Right Side Panel -->
<div class="containersmall">
    <style>
        @-webkit-keyframes rotate {
            from {
                -webkit-transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
            }
        }

        #circle_spinner {
            -webkit-animation-name: rotate;
            -webkit-animation-duration: 0.8s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
        }

        .SaveButtonContainer {
            margin-top: 5px;
        }

        #submitButton {
            width: 97px;
            height: 34px;
            border: none;
            border-radius: 3px;
            float: right;
            display: table;
            cursor: pointer;
            font-family: open_sansregular;
            text-align: center;
        }

        .SmallSettingContainer {
            height: initial;
            min-height: 53px;
        }

        label.error {
            color: red;
            font-family: open_sansregular;
            font-size: 12px;
            float: left;
        }

        #CustomerID {
            background-color: #e2e2e2;
        }

        #CustomerIDEditButton {
            float: right;
            margin-right: 3px;
            cursor: pointer;
        }
        

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
    </style>
    <header></header>
    <!-- Heading Bar -->
    <div class="HeadingBar Color4">
        <div class="verticalalign">
            <div>
                <label class="HeadingLabel FontColor4">Account</label>
            </div>
        </div>
        <div class="verticalalign">
            <label class="FontColor2 HelpLabel">
                Need Help?
                <span class="FontColor5">
                    <a style="text-decoration:none;" class="FontColor5" href="http://www.iAspireApp.com" target="_blank">www.iAspireApp.com</a>
                </span>
            </label>
        </div>
    </div>
    <!-- Main Content Panel -->
    <div class="Color3 BigRightContainer">
        <div class="Color5 WhiteBackgroundContainerMenu" style="overflow-y:auto;">
            <!-- Settings Header -->
            <div class="CustomSettingsContainer">
                <div class="verticalalign" style="width:100%;">
                    <label class="FontColor2 HeadingTopLabel">Districts</label>
                </div>
                <!-- Add Account button -->
                <div class="verticalalign RightRank3">
                    <div class="Color7 AddNewLocation" ng-click="accC.showMenu()">
                        <div class="verticalalign">
                            <div class="ButtonPositioningLocation">
                                <span class="icon-TS-20 FontColor4 CrossArrowIcon"></span>
                                <label class="FontColor1 AddNewArticleText">Add New Account</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div form-search-box>
                <!-- Search Box -->
                <input list="Datalist" id="SearchBox" class="SettingsBox SearchBox" placeholder="Search..." />
                <datalist id="Datalist">
                    <option ng-repeat="item in accC.MerchantList" value="" data-name="{{item.Name}}" data-state="{{item.State}}" data-county="{{item.County}}" data-contactname="{{item.ContactName}}">
                </datalist>
                <select id="SearchConstraint" class="SettingsBox SearchBox">
                    <option value="name" selected>Merchant Name</option>
                    <option value="state">State</option>
                    <option value="county">County</option>
                    <option value="contactname">ContactName</option>
                </select>
            </div>
            <!-- Merchants Container -->
            <div id="MerchantContainer" class="RightRank2">
                <div ng-repeat="item in accC.MerchantList" class="EditSmallBar Color3 Searchable" data-name="{{item.Name}}" data-state="{{item.State}}" data-county="{{item.County}}" data-contactname="{{item.ContactName}}">
                    <div class="verticalalgin2 SmallBarDisplayBoxWidth">
                        <div class="SmallBarDisplayBox Color7">
                            <div class="verticalalign">
                                <span class="icon-iaspire-04 FontColor1 IconLogo"></span>
                            </div>
                        </div>
                    </div>
                    <div class="verticalalgin2">
                        <label class="SmallBarLabel FontColor2">{{item.Name}}</label>
                    </div>
                    <div class="verticalalgin2">
                        <button class="EditButton Color3 FontColor2" ng-click="accC.showMenu(item.MerchantID)">Info</button>
                    </div>
                </div>
                <div ng-if="accC.MerchantList.length==0">No Account Info Available</div>
            </div>   
           
            <!--<div class="noRightRank2 FontColor2 HeadingTopLabel">You don't have permission to view this content.</div>-->
        </div>    
        <div style="width: 96%;height: auto;margin: auto;margin-top: 1.5%;box-sizing: border-box;border: 2pt solid #e2e2e2;background-color: white;overflow-y: auto;padding: 10px;">
            <div class="verticalalign" style="">
                <label class="FontColor2 HeadingTopLabel" style="margin-left:11px;">Logo</label>
            </div>
             <div class="SettingsBox SearchBox">
                <div>
                    <input name="myFile" upload-file="myFile" type="file" />
                    <input type="button" ng-click="accC.doUpload()" text="Upload" value="Upload File" /><br />                    
                    <br />
                </div>
                 <label>
                     The image below will be shown on all of your forms and other iAspire products (as applicable).
                     The required dimensions are between 100 to 200 px
                 </label>
            </div>            
            <div id="refresh" class="" style="height: 100px;">
            </div>            
            <div class="right">
                <input type="text" ng-model="accC.imgpath" style="margin-left:11px;" readonly id="txt1" />
                <button onclick="copyToClipboard('#txt1')">Copy</button>
            </div>  
            <span id="messageBox" class="text-success" style="display: block; text-align: center"></span>                     
        </div>   
    </div>

</div>

<!-- Edit Menu Pop Up Form -->
<div class="TransparentBackground  animated fadeIn" id="EditMenu">

    <div class="Transparency"></div>

    <div class="PopUpDisplay">
        <div class="verticalalign">
            <div class="Color3 PopUpWindow animated2 fadeIn">

                <!-- Top Bar -->
                <div class="TopBarPopUpWindow">

                    <div class="verticalalgin2 SmallBarDisplayBoxWidth">
                        <div class="SmallBarDisplayBox Color7">
                            <div class="verticalalign">
                                <span class="icon-iaspire-04 FontColor1 IconLogo"></span>
                            </div>
                        </div>
                    </div>

                    <div class="verticalalgin2">
                        <label class="PopUpWindowHeading FontColor2" id="PopUpWindowHeading">District - Information</label>
                    </div>

                    <div class="verticalalgin2">
                        <label class="CancelLabel FontColor2" ng-click="accC.closeMenu()">Close</label>
                    </div>

                </div>

                <!-- Form Container -->
                <form class="AllSettingsContainer" id="FormInputs" ng-submit="accC.submitForm()">

                    <input type="hidden" name="MerchantID" value="" ng-model="MerchantInfo.MerchantIDHidden" id="MerchantIDHidden" />

                    <div class="SmallSettingContainer">
                        <label class="FontColor4 PopUpWindowLabel">District Name</label>
                        <input type="text" name="AccountName" ng-model="MerchantInfo.AccountName" id="AccountName" placeholder="Account Name" class="SettingsBox inputRightRank3" />
                    </div>

                    <!--<div class="SmallSettingContainer" style="float: right;">
                        <label class="FontColor4 PopUpWindowLabel">State</label>
                        <select class="FontColor3 EditDropdownBar SettingsBox inputRightRank3" id="StateSelect" ng-model="MerchantInfo.StateSelect" name="StateSelect" onchange="selectColorBlack('StateSelect')">
                            <option class="FontColor3" disabled selected value="">State</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>-->

                    <!--<div class="SmallSettingContainer">
                        <label class="FontColor4 PopUpWindowLabel">County</label>
                        <input type="text" name="County" id="County" ng-model="MerchantInfo.County" placeholder="County" class="SettingsBox inputRightRank3" />
                    </div>-->

                    <div class="SmallSettingContainer" style="float: right;">
                        <label class="FontColor4 PopUpWindowLabel">Contact Name</label>
                        <input type="text" name="ContactName" id="ContactName" ng-model="MerchantInfo.ContactName" placeholder="Contact Name" class="SettingsBox inputRightRank3" />
                    </div>

                    <div class="SmallSettingContainer">
                        <label class="FontColor4 PopUpWindowLabel">Contact Email</label>
                        <input type="text" name="ContactEmail" id="ContactEmail" ng-model="MerchantInfo.ContactEmail" placeholder="Contact Email" class="SettingsBox inputRightRank3" />
                    </div>

                    <!--<div class="SmallSettingContainer" style="float: right;">
                        <label class="FontColor4 PopUpWindowLabel">Expiration Date</label>
                        <input type="date" name="ExpirationDate" id="ExpirationDate" class="FontColor3 DatePicker SettingsBox" onchange="selectColorBlack('ExpirationDate')" />
                    </div>-->

                    <!--<div class="SmallSettingContainer" style="float: right;">
                        <label class="FontColor4 PopUpWindowLabel">Is Trial Account?</label>
                        <input type="checkbox" name="IsTrialAccount" id="IsTrialAccount" ng-model="MerchantInfo.IsTrialAccount" style="margin:auto; display:block;" class="inputRightRank3" />
                    </div>-->

                    <div class="SmallSettingContainer" style="width:100%;">
                        <label class="FontColor4 PopUpWindowLabel">Paid Through Date</label>

                        <input type="hidden" id="hiddenPTD" ng-model="MerchantInfo.hiddenPTD" name="hiddenPTD" value="" />

                        <div>
                            <div id="ptdMonthContainer">
                                <select id="ptdMonth" name="ptdMonth" ng-model="MerchantInfo.ptdMonth" ng-change="accC.ptdMonth_change()" class="SettingsBox inputRightRank3">
                                    <option value="0" id="ptdMonthPlaceholder">Month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div id="ptdDayContainer">
                                <select id="ptdDay" name="ptdDay" ng-model="MerchantInfo.ptdDay" ng-change="accC.ptdDay_change()" class="SettingsBox inputRightRank3">
                                    <option value="0" id="ptdMonthPlaceholder">Day</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29" id="ptdDay29">29</option>
                                    <option value="30" id="ptdDay30">30</option>
                                    <option value="31" id="ptdDay31">31</option>
                                </select>
                            </div>
                            <div id="ptdYearContainer">
                                <select id="ptdYear" name="ptdYear" ng-model="MerchantInfo.ptdYear" ng-change="accC.ptdYear_change()" class="SettingsBox inputRightRank3">
                                    <option value="0" id="ptdMonthPlaceholder">Year</option>
                                    <!--<option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>-->
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2025">2026</option>
                                    <option value="2025">2027</option>
                                    <option value="2025">2028</option>
                                </select>
                            </div>
                            <div id="ptdClear" class="FontColor4 RightRank3" ng-click="accC.PtdClear()">Clear Date?</div>
                        </div>
                    </div>

                    <div class="SmallSettingContainer">
                        <label class="FontColor4 PopUpWindowLabel">Customer ID<span id="CustomerIDEditButton" ng-click="accC.customerIDEditEnable()">Edit?</span></label>
                        <input type="text" name="CustomerID" id="CustomerID" ng-model="MerchantInfo.CustomerID" placeholder="Customer ID" class="SettingsBox inputRightRank3" disabled />
                    </div>

                    <div style="clear:both;"></div>

                    <br />
                    <hr />
                    <br />

                    <!-- Merchant Settings -->
                    <div class="FontColor4 PopUpWindowLabel" style="font-size:16px; font-family:open_sansbold">Merchant Settings</div>

                    <div class="SmallSettingContainer">
                        <label class="FontColor4 PopUpWindowLabel">Form Completion CC Default</label>
                        <input type="text" name="CCDefaults" id="CCDefaults" placeholder="CC Default" class="SettingsBox inputRightRank23 MerchantSettings" data-id=""
                               data-keyname="/Email/FormCompletion/Defaults" />
                    </div>

                    <div class="SmallSettingContainer" style="float:right;">
                        <label class="FontColor4 PopUpWindowLabel">Form Completion BCC Default</label>
                        <input type="text" name="BCCDefaults" id="BCCDefaults" placeholder="BCC Default" class="SettingsBox inputRightRank23 MerchantSettings" data-id=""
                               data-keyname="/Email/FormCompletion/Defaults" />
                    </div>
                    <div id="div1">

                    </div>
                    <input type="button" value="Add Row" onclick="addRow()"/>
                    <!-- SAVE BUTTON !!!!-->
                    <div class="SaveButtonContainer isEmployee RightRank3" style="margin-top:15px;">
                        <button type="submit" value="Save" id="submitButton" class="Color7 FontColor1">
                            <div style="margin-left:17px">
                                <span class="icon-TS-22 SaveButtonIcon"></span>
                                <span class="SaveButtonText">Save</span>
                            </div>
                        </button>
                    </div>
                    <!-- Teacher Counts Container -->                    
                    <table style="width:100%" id="empdata">
                        <tr>
                            <td style="width:50%">
                                <span class="FontColor2 PopUpWindowLabel" style="font-family:open_sansbold;">Employees per Site:</span>
                                <table id="TeacherCountsContainer" class="PopUpWindowLabel FontColor4" ng-init="total=0">
                                        <tr ng-repeat="item in accC.TeacherBySchool">
                                            <td>{{item.Name}}&nbsp;</td>
                                            <!--<td ng-init="$parent.total=$parent.total+item.TeacherCount">{{item.TeacherCount}}</td>-->
                                       <td>{{item.TeacherCount}}    </td>
                                         </tr>
                                        <tr rule>
                                            <td>Total</td>
                                            <td >{{totalCount }}</td>
                                        </tr>                               
                                </table>                             
                            </td>
                            <td  style="width:50%" >
                                <span class="FontColor2 PopUpWindowLabel" style="font-family:open_sansbold;">Employees per Department:</span>
                                <table id="TeacherCountsContainer" class="PopUpWindowLabel FontColor4">
                                             <tr ng-repeat="hsn in accC.clsempcnt">  
                                                <td>{{hsn.ClassName}}</td>
                                                <td>{{hsn.NoOfTeacher}}</td>
                                            </tr> 
                                    <tr rule>
                                        <td>Total</td>
                                        <td>{{totalCount }}</td>
                                    </tr>                                           
                    </table>
                                </td>
                            </table>
                </form>                
            </div>
        </div>
    </div>

</div>



