
<div class="mobile" ng-controller="HeaderController as headC">
    <div id="headermobile" class="Color2" style="width: 100%; height: 70px;">
        <div style="margin: 0 auto; text-align: center; width: 100%; padding-top: 8px; box-sizing: border-box;">
            <img src="images/MainLogo_Small.png" style="width: 39px; margin: 0 auto; text-align: center;" />
        </div>
    </div>
    <!-- Mobile DropDown !-->
    <div style="margin: auto; height: 100%;">
        <div id="dl-menu" dlmenu class="dl-menuwrapper Color2" style="float: left;" ng-model="mobileMenuJson">
            <div style="position: absolute; top: 0; left: 0; height: 20px; margin: auto; width: 100%;">
                <div style="position: relative; height: 20px; margin: auto; width: 100px;">
                </div>
            </div>

            <button class="dl-trigger"></button>
            <ul class="dl-menu">
                <li>
                    <!-- ACCOUNTS -->
                    <a ng-href="#/account">
                        <div class="icon-iaspire-04 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Account</span>
                    </a>
                </li>
                <li>
                    <!-- ACCOUNT ADMIN -->
                    <a ng-href="#/accountAdmin">
                        <div class="icon-iaspire-04 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Account Admin</span>
                    </a>
                </li>
                <li>
                    <!-- SITES -->
                    <a ng-href="#/sites">
                        <div class="icon-iaspire-01 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Sites</span>
                    </a>
                </li>
                <!-- 
                <li>
                    <a ng-href="#/employees">
                        <div class="icon-iaspire-09 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Employees</span>
                    </a>
                </li>
                -->
                <li>
                    <!-- ROLES -->
                    <a ng-href="#/roles">
                        <div class="icon-iaspire-04 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Roles</span>
                    </a>
                </li>
                <li>
                    <!-- USERS -->
                    <a ng-href="#/users">
                        <div class="icon-iaspire-05 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Users</span>
                    </a>
                </li>
                <li>
                    <!-- DEPARTMENTS -->
                    <a ng-href="#/departments">
                        <div class="icon-iaspire-02 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Departments</span>
                    </a>
                </li>
                <li>
                    <!-- FORMS -->
                    <a ng-href="#/form">
                        <div class="icon-iaspire-03 display FontColor4 ToggleIcon">
                        </div>
                        <span class="FontColor2 ToggleText">Forms</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
